*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    
    align-self: center;
    width: 100%;
    height: 13vh;
    justify-self: center;
    text-align: center;
    /*background: rgb(185, 122, 67);*/
   
    background-image: url("./img/library.jpg");
    background-size: contain;
    box-shadow: inset 20px 20px 10px 10px rgba(0, 0, 0, 0.454);
    
     
    
}

img{
    object-position: center -100px;
}

h1{
    width: 100%;
    height: 80%;
    padding: 20px 0px;
    color:rgba(240, 198, 99, 0.76);
    text-shadow: -2px 0 rgb(255, 249, 83), 0 2px rgb(243, 198, 17), 4px 0 rgb(255, 255, 255), 0 -2px rgb(249, 160, 5),10px 5px rgba(0, 0, 0, 0.74);
    font-size: 60px;
   
   
    letter-spacing: 20px;
   
  
}

main{
    height:75vh;
}

form{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.239);
}

dialog form div input{
    display: block;
    width: 90%;
    height: 30px;
    padding-left: 10px;
}

dialog form div label{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    
    padding: 2px;
    margin: 3px;
    width: 100%;
    
}

dialog form div{
    margin: 10px;
    padding: 10px;
    width: 90%;
    
    border-radius: 10px;
    
    
}


dialog div {
    padding-left: 50px;
    padding-top: 20px;
}

dialog div button{
    padding: 20px;
    width: 110px;
    margin: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bolder;
    border-style: none;
}

#confirm{
    background-image: linear-gradient(4deg,#1e1e1e,#393939 100%);
    color: rgb(255, 255, 255);
}

#cancel{
    background-image:linear-gradient(4deg,#1e1e1e,#393939 100%);
    color: rgb(249, 249, 249);
}

#cancel:hover{
    background-image: linear-gradient(45deg,#c4c4c4,#848484 100%);
    color: rgb(0, 0, 0);
}

#cancel:active{
    background-color: rgb(108, 3, 3);
    color: rgb(224, 155, 155);
}

dialog{
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 60%;
    position:absolute;
    left: 45%;
    top: 25%;
    margin-left: -150px;
    margin-right: -150px;
    border-radius: 8%;
    border-width: 0;
    padding: 2%;
    background-image: url("./img/marmol2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

::backdrop{
    background: black;
    opacity: 0.75;

}


.library-container{
    height: 100%;
    background-image: url("./img/marmol.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#library-flex{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: 93%;
    overflow-y: auto;
    

}


.card-book{
    padding: 20px;
    height: 50%;
}

.book{
    height: 280px;
    width: 200px;
    border-radius: 2px 10px 10px 2px;

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 6fr 3fr 3fr 3fr;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5),-1px 4px 4px 0 rgba(0,0,0,0.5);
    background: #1e1e1e;
    background: linear-gradient(4deg,#1e1e1e,#393939 100%);
}

.book:before{
    content: "";
    
    position: relative;
    grid-column: 1/2;
    grid-row: 1/6;
    width: 20px;
    height: 100%;
    top: 0px;
    left: 0;
    bottom: 0;
    border-radius: 2px 0 0 2px;
    background: linear-gradient(to right,#bdbdbd 0%,#272727 20%, #101010 80%)
}

.card-book h3{
    width: 128px;
    grid-column: 1/4;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;
    padding-left: 16px;
    box-sizing: border-box;
    text-shadow:
    1px 1px 2px rgb(216, 216, 216,0.7),
    0 0 1em rgb(181, 181, 181,0.5),
    0 0 0.2em rgb(95, 95, 95,0.2);
    color: white;
   
    
}

.card-book .author{
    grid-column: 1/4;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    font-weight: lighter;
}

.card-book .pages{
    grid-row: 4/5;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
    text-align: center;
    color: white;
}

.card-book .read{
    grid-row: 5/6;
    grid-column: 2/4;
    align-self: center;
    justify-self: center;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-right:20px;
}

.mdi-alpha-x-box{
    grid-column: 3/4;
    grid-row: 1/2;
    width: 90%;
    height: 70%;
    font-size: 30px;
    align-self: center;
    justify-self: center;
    color: rgb(255, 255, 255,0.3);
}

.mdi-alpha-x-box:hover{
    color: red;
    cursor: pointer;
}

.mdi-alpha-x-box:active{
    color: rgb(255, 131, 131);
    
}


.button-add-container{
    padding: 20px;
}

.button-container{
    padding: 0;
}

#add-book{
    width: 100%;
    height: 100%;
    grid-column: 1/4;
    grid-row: 1/6;
    background: linear-gradient(4deg,white,rgb(205, 205, 205)100%);
    cursor: pointer;
    font-size: 50px;

}

#add-book:hover{
    background: linear-gradient(4deg,#1e1e1e,#393939 100%);
    color: white;
}




footer{
    height: 10vh;
    width: 100%;
    align-self: center;
    background-image: url("./img/wood2.webp");
    background-size: contain;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.487);
    background-color: rgba(0, 0, 0, 0.793);
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding-top: 20px;
    color: white;
    font-size: 15px;
    gap: 5px;

}

footer a{
    color: rgb(185, 185, 185);
    text-decoration: none;
}